---

---

<html lang="en">
  <head>
    <!-- Basic Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- SEO Meta Tags -->
    <title>Mares Popa - Senior Software Engineer</title>
    <meta
      name="description"
      content="I'm Mares Popa, a senior software engineer with expertise in front-end web development, creating solutions with frameworks like Next.js, TypeScript, React, and more."
    />
    <meta
      name="keywords"
      content="Mares Popa, Senior Software Engineer, Front-End Developer, UI/UX Developer, Next.js, React, TypeScript, AngularJS, Sass, Tailwind CSS, Web Development"
    />
    <meta name="author" content="Mares Popa" />

    <!-- Open Graph Meta Tags (For Social Media Previews) -->
    <meta property="og:title" content="Mares Popa - Senior Software Engineer" />
    <meta
      property="og:description"
      content="Mares Popa is a senior software engineer specializing in front-end web development, working with Next.js, TypeScript, React, and more."
    />
    <meta property="og:image" content="URL_to_Your_Profile_or_Logo_Image" />
    <meta property="og:url" content="https://marespopa.com" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Mares Popa - Senior Software Engineer"
    />
    <meta
      name="twitter:description"
      content="I'm Mares Popa, a senior software engineer with expertise in front-end web development."
    />
    <meta name="twitter:image" content="https://twitter.com/smoothwizz" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="bg-teal-200 dark:bg-gradient-to-br dark:from-teal-900 dark:to-teal-950 h-screen">
    <section class="container px-4">
      <div
        class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12 prose dark:prose-invert lg:prose-xl"
      >
        <h1 class="text-3xl font-bold">Senior Software Engineer</h1>
        <h2 class="text-2xl font-bold mt-2">Hi I&lsquo;m Mares!</h2>
        <p class="mt-4">
          As a senior software engineer specializing in UI/UX development, I
          design and build web applications that help organizations solve
          business problems and meet their goals. My focus is on front-end web
          development, where I leverage frameworks and technologies like
          Next.js, TypeScript, React, AngularJS, Sass, Tailwind CSS, and more to
          create intuitive user experiences.
        </p>
        <p>
          Based in Romania, I share my life with an amazing wife. Born in '93,
          when I'm not immersed in code, you'll find me cycling, shooting hoops,
          or exploring new cities.
        </p>
        <a
          href="https://dolooper.netlify.app?ref=mp"
          class=`inline-flex px-4 py-2 rounded my-4 border border-blue-300
			items-center text-green-300 font-medium
			hover:transition-all ease-in-out motion-reduce:transition-none duration-150
			hover:bg-teal-300 hover:text-teal-950
			focus:bg-teal-300 focus:text-teal-950 no-underline`
          target="_blank"
        >
          <span class="mr-4"
            >Try Dolooper — My Personal Tool to Keep You Focused</span
          >
        </a>
      </div>
    </section>
  </body>
</html>
