---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Mares Popa - Software Engineer</title>
  </head>
  <body class="bg-white dark:bg-gray-900">
    <section class="container px-4">
      <div
        class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12 prose lg:prose-xl dark:prose-invert"
      >
        <h1 class="text-3xl font-bold">Senior Software Engineer</h1>
        <h2 class="text-2xl font-bold mt-2">Hi I&lsquo;m Mares!</h2>
        <p class="mt-4">
          As a senior software engineer specializing in UI/UX development, I
          design and build web applications that help organizations solve
          business problems and meet their goals. My focus is on front-end web
          development, where I leverage frameworks and technologies like
          Next.js, TypeScript, React, AngularJS, Sass, Tailwind CSS, and more to
          create intuitive user experiences.
        </p>
        <p>
          Based in Romania, I share my life with an amazing wife. Born in '93,
          when I'm not immersed in code, you'll find me cycling, shooting hoops,
          or exploring new cities.
        </p>
        <a
          href="https://dolooper.netlify.app?ref=mp"
          class=`inline-flex px-4 py-2 rounded my-4 border border-blue-300
			items-center text-blue-300 font-medium
			hover:transition-all ease-in-out motion-reduce:transition-none duration-150
			hover:bg-sky-300 hover:text-fuchsia-950
			focus:bg-sky-300 focus:text-fuchsia-950 no-underline`
          target="_blank"
        >
          <span class="mr-4">Amplify your productivity with Dolooper.</span>
        </a>
      </div>
    </section>
  </body>
</html>
