---

---

<html lang="en">
  <head>
    <!-- Basic Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- SEO Meta Tags -->
    <title>Mares Popa - Senior Software Engineer</title>
    <meta
      name="description"
      content="I'm Mares Popa, a senior software engineer with expertise in front-end web development, creating solutions with frameworks like Next.js, TypeScript, React, and more."
    />
    <meta
      name="keywords"
      content="Mares Popa, Senior Software Engineer, Front-End Developer, UI/UX Developer, Next.js, React, TypeScript, AngularJS, Sass, Tailwind CSS, Web Development"
    />
    <meta name="author" content="Mares Popa" />

    <!-- Open Graph Meta Tags (For Social Media Previews) -->
    <meta property="og:title" content="Mares Popa - Senior Software Engineer" />
    <meta
      property="og:description"
      content="Mares Popa is a senior software engineer specializing in front-end web development, working with Next.js, TypeScript, React, and more."
    />
    <meta property="og:image" content="URL_to_Your_Profile_or_Logo_Image" />
    <meta property="og:url" content="https://marespopa.com" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Mares Popa - Senior Software Engineer"
    />
    <meta
      name="twitter:description"
      content="I'm Mares Popa, a senior software engineer with expertise in front-end web development."
    />
    <meta name="twitter:image" content="https://twitter.com/smoothwizz" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="bg-white dark:bg-teal-950 h-screen font-sans">
    <section class="container px-4">
      <div
        class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12 prose dark:prose-invert lg:prose-xl"
      >
        <h1 class="text-3xl font-bold">Senior Software Engineer</h1>
        <h2 class="text-2xl font-bold mt-2">👋 Hi, I&lsquo;m Mares.</h2>

        <p class="mt-4">
          I&lsquo;ve been coding for over a decade, starting in high school. My
          focus is straightforward: building better, more user-friendly digital
          solutions. From one project to the next, I&lsquo;m always pushing for
          improvements that matter.
        </p>

        <p class="mt-4">
          I work with talented teams to develop products that make life easier
          and help businesses grow. I specialize in React, Next.js, and
          TypeScript, building scalable, accessible, and maintainable
          applications. I also teach HTML/CSS, JavaScript, React.js, and
          Node.js, helping more people break into tech and succeed.
        </p>

        <p class="mt-4">
          When I&lsquo;m not coding, you&lsquo;ll find me cycling, playing
          basketball, or exploring new cities with my wife. These moments give
          me a fresh perspective and fuel my creativity.
        </p>

        <a
          href="https://dolooper.netlify.app?ref=mp"
          class="inline-flex px-4 py-2 rounded my-4 border border-teal-600 dark:border-teal-950 items-center text-white font-medium bg-teal-500 dark:bg-teal-800 hover:bg-teal-600 dark:hover:bg-teal-900 hover:text-white focus:text-gray-100 focus:bg-teal-700 dark:focus:bg-teal-900 dark:focus:text-gray-100 no-underline"
          target="_blank"
        >
          <span class="mr-4"
            >Try Dolooper — My Personal Coding Companion App</span
          >
        </a>
      </div>
    </section>
  </body>
</html>
