---
import GoogleAnalytics from "../components/GoogleAnalytics.astro";
---

<html lang="en">
  <head>
    <!-- Basic Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- SEO Meta Tags -->
    <title>Mares Popa - Senior Software Engineer</title>
    <meta
      name="description"
      content="I'm Mares Popa, a senior software engineer with expertise in front-end web development, creating solutions with frameworks like Next.js, TypeScript, React, and more."
    />
    <meta
      name="keywords"
      content="Mares Popa, Senior Software Engineer, Front-End Developer, UI/UX Developer, Next.js, React, TypeScript, AngularJS, Sass, Tailwind CSS, Web Development"
    />
    <meta name="author" content="Mares Popa" />
    <GoogleAnalytics measurementId={"G-WY0KQ8W98H"} />

    <!-- Open Graph Meta Tags (For Social Media Previews) -->
    <meta property="og:title" content="Mares Popa - Senior Software Engineer" />
    <meta
      property="og:description"
      content="Mares Popa is a senior software engineer specializing in front-end web development, working with Next.js, TypeScript, React, and more."
    />
    <meta property="og:image" content="URL_to_Your_Profile_or_Logo_Image" />
    <meta property="og:url" content="https://marespopa.com" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Mares Popa - Senior Software Engineer"
    />
    <meta
      name="twitter:description"
      content="I'm Mares Popa, a senior software engineer with expertise in front-end web development."
    />
    <meta name="twitter:image" content="https://twitter.com/smoothwizz" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body
    class="bg-white dark:bg-purple-950 font-sans flex justify-center flex-col"
  >
    <main class="container mx-auto max-w-full px-4 md:px-2 flex-1">
      <!-- Hero Section -->
      <section class="mx-auto text-center mt-4 prose dark:prose-invert">
        <header>
          <h1 class="font-bold mt-8 text-black dark:text-white">
            Senior Software Engineer
          </h1>
          <h2 class="font-semibold mt-2 mb-4 text-black dark:text-white">
            Hi, I&lsquo;m Mares 👋
          </h2>
        </header>
        <p class="mt-4">
          I&lsquo;ve been coding for over a decade, starting in high school. My
          focus is straightforward: building better, more user-friendly digital
          solutions. From one project to the next, I&lsquo;m always pushing for
          improvements that matter.
        </p>
        <p class="mt-4">
          I work with talented teams to develop products that make life easier
          and help businesses grow. I specialize in React, Next.js, and
          TypeScript, building scalable, accessible, and maintainable
          applications.
        </p>
        <p class="mt-4">
          When I&lsquo;m not coding, you&lsquo;ll find me cycling, playing
          basketball, or exploring new cities with my wife. These moments give
          me a fresh perspective and fuel my creativity.
        </p>
      </section>

      <!-- Separator -->
      <div class="flex justify-center my-16">
        <span
          class="border-t border-dotted border-gray-400 dark:border-gray-600 w-1/2"
        ></span>
      </div>

      <!-- Projects Section -->
      <section class="mx-auto prose dark:prose-invert px-4 rounded-md !max-w-none">
        <h3 class="font-semibold text-center text-black dark:text-white mb-8">
          Here are some things that I've built 🛠️
        </h3>
        <div
          class="flex flex-col md:flex-row items-center justify-center gap-8 sm:gap-4 px-6"
        >
          <!-- Hermes Markdown Section -->
          <article
            class="prose dark:prose-invert flex-1 p-4 bg-purple-100 dark:bg-purple-800 shadow-md rounded-md text-center"
          >
            <h4
              class="text-md font-semibold mb-2 leading-tight text-black dark:text-white"
            >
              Hermes Markdown
            </h4>
            <p class="text-md mb-4">
              A free, privacy-first Markdown editor that lets you effortlessly
              create, edit, and export your files—all while keeping your data
              secure and local.
            </p>
            <a
              href="https://hermesmd.netlify.app/"
              target="_blank"
              rel="noopener noreferrer"
              class="inline-flex px-4 py-2 rounded my-4 border border-purple-600 dark:border-purple-950 items-center text-black font-medium bg-amber-400 dark:bg-yellow-400 hover:bg-amber-500 dark:hover:bg-yellow-500 focus:bg-amber-600 dark:focus:bg-yellow-600 no-underline mx-auto"
            >
              Try Hermes Markdown
            </a>
          </article>
          <!-- Dolooper Section -->
          <article
            class="prose dark:prose-invert flex-1 p-4 bg-purple-100 dark:bg-purple-800 shadow-md rounded-md text-center"
          >
            <h4
              class="text-md font-semibold mb-2 leading-tight text-black dark:text-white"
            >
              Dolooper
            </h4>
            <p class="text-md mb-4">
              A free coding companion that lets you create tasks from scratch or
              templates, edit with Markdown, manage subtasks, and track your
              time.
            </p>
            <a
              href="https://dolooper.netlify.app/"
              target="_blank"
              rel="noopener noreferrer"
              class="inline-flex px-4 py-2 rounded my-4 border border-purple-600 dark:border-purple-950 items-center text-black font-medium bg-amber-400 dark:bg-yellow-400 hover:bg-amber-500 dark:hover:bg-yellow-500 focus:bg-amber-600 dark:focus:bg-yellow-600 no-underline mx-auto"
            >
              Try Dolooper
            </a>
          </article>
          <!-- Github Section -->
          <article
            class="prose dark:prose-invert flex-1 p-4 bg-purple-100 dark:bg-purple-800 shadow-md rounded-md text-center"
          >
            <h4
              class="text-md font-semibold mb-2 leading-tight text-black dark:text-white"
            >
              Github
            </h4>
            <p class="text-md mb-4">
              The story of my work through the repositories I'm interested in,
              the contributions I've made, and the conversations I've had.
            </p>
            <a
              href="https://github.com/marespopa"
              target="_blank"
              rel="noopener noreferrer"
              class="inline-flex px-4 py-2 rounded my-4 border border-purple-600 dark:border-purple-950 items-center text-black font-medium bg-amber-400 dark:bg-yellow-400 hover:bg-amber-500 dark:hover:bg-yellow-500 focus:bg-amber-600 dark:focus:bg-yellow-600 no-underline mx-auto"
            >
              Check my profile
            </a>
          </article>
        </div>
      </section>

      <!-- Separator -->
      <div class="flex justify-center my-16">
        <span
          class="border-t border-dotted border-gray-400 dark:border-gray-600 w-1/2"
        ></span>
      </div>

      <!-- Contact Me Section -->
      <section class="mx-auto prose dark:prose-invert pt-4 pb-16 rounded-md">
        <h3
          class="font-semibold text-center leading-tight text-black dark:text-white mb-8"
        >
          Let&apos;s Connect and Collaborate 🤝
        </h3>
        <div class="flex justify-center gap-4 text-nowrap flex-wrap">
          <a
            href="https://www.linkedin.com/in/mares-popa/"
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex px-4 py-2 rounded border border-purple-600 dark:border-purple-950 items-center text-black font-medium bg-amber-400 dark:bg-yellow-400 hover:bg-amber-500 dark:hover:bg-yellow-500 focus:bg-amber-600 dark:focus:bg-yellow-600 no-underline"
          >
            LinkedIn Profile
          </a>
          <a
            href="mailto:office@marespopa.com"
            class="inline-flex px-4 py-2 rounded border border-purple-600 dark:border-purple-950 items-center text-black font-medium bg-amber-400 dark:bg-yellow-400 hover:bg-amber-500 dark:hover:bg-yellow-500 focus:bg-amber-600 dark:focus:bg-yellow-600 no-underline"
          >
            Email Me
          </a>
          <a
            href="tel:+40750235661"
            class="inline-flex px-4 py-2 rounded border border-purple-600 dark:border-purple-950 items-center text-black font-medium bg-amber-400 dark:bg-yellow-400 hover:bg-amber-500 dark:hover:bg-yellow-500 focus:bg-amber-600 dark:focus:bg-yellow-600 no-underline"
          >
            🇷🇴 +40750235661
          </a>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <footer
      class="bg-purple-950 dark:bg-gray-900 text-white text-center py-4 mt-6"
    >
      <p>Made with ❤️ by Mares Popa</p>
    </footer>
  </body>
</html>
