---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Navigation from '../components/common/Navigation';

const { title } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <BaseHead title={title}/>
  </head>
  <body class="content p-4 md:p-2">
    <Navigation client:load />
    <h1>{title}</h1>
    <article>
      <slot /> <!-- your content is injected here -->
    </article>
    <Footer />
  </body>