.cookie-notice {
  background: var(--cookie-notice-background);
  color: var(--cookie-notice-text);
  font-size: 0.75rem;
  line-height: 1rem;
  left: 0;
  padding: 1rem 0.5rem;
  position: fixed;
  right: 0;
  text-align: center;
  transition: var(--fade-transition);
  z-index: 9999;

  .buttons {
    margin: 1rem 0;
  }
}
