.pricing-table {
  --pricing-table-column: #ffffff;
  --pricing-table-column-alt: #fffab0;
  --pricing-table-price-h2: #242466;
  --pricing-table-subtitle: #616161;

  &__column {
    background-color: var(--pricing-table-column);
    box-shadow: 0.5rem 0.5rem rgba(45, 45, 45, 0.15);

    & + .pricing-table__column {
      margin: 0 0 0 1rem;
    }
  }

  &__column-alt {
    background-color: var(--pricing-table-column-alt);
  }

  .plan_title {
    margin-bottom: 0 !important;
  }
  .plan_subtitle {
    color: var(--pricing-table-subtitle);
  }
  .price {
    margin-top: 40px;
  }
  .price h2 {
    color: var(--pricing-table-price-h2);
  }
  .price span {
    font-size: 20px;
  }
}
