@media only screen and (max-width: 1024px) {
  .navbar-item {
    &.has-dropdown {
      .navbar-dropdown {
        display: none;
      }
      &.is-active {
        .navbar-dropdown {
          display: block;
        }
      }
    }
  }
}

/** Mobile Styles */
@media screen and (min-width: 769px) {
  .pricing-table__column + .pricing-table__column {
    margin: 0 0 0 1rem;
  }
}
